/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#onlineUsers {
    margin-bottom: 20px;
}

#gameList {
    list-style-type: none;
    padding: 0;
}

#gameList li {
    margin: 10px 0;
}

#gameList a {
    text-decoration: none;
    font-size: 24px;
    color: #007bff;
}

#gameList a:hover {
    text-decoration: underline;
}

#leaderboardSection, #onlineUserSection {
    margin-top: 30px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard, #onlineUsersList {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 600px) {
    body {
        margin-top: 10px;
    }

    #gameList a {
        font-size: 20px;
    }
}
